h5,
h6 {
  margin: 0;
}
.todo-container {
  display: flex;
  flex-direction: column;
}
.todo-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  &:nth-child(even) {
    background: rgba(100, 148, 237, 0.1);
  }
  &.done {
    opacity: 0.4;
  }
}
