@import "~bootstrap/scss/bootstrap";
nav {
  height: 100vh;
  min-height: 100vh;
  min-width: 10rem;
  width: 15vw;
  margin: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 8px #0000001f;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $gray-800;
  ul {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      cursor: pointer;
      margin-right: 1rem;
      margin-bottom: 3rem;
      transition: all 0.3s;
      font-weight: 500;

      &:hover,
      &.active {
        color: $primary;
      }
    }
  }
  .logo {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #0063e4;
    margin-bottom: 6rem;
    margin-top: 2rem;
  }
}
.cart {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
