@import "~bootstrap/scss/bootstrap";
nav {
  height: 100vh;
  min-height: 100vh;
  min-width: 10rem;
  width: 15vw;
  margin: 0;
  padding: 0 1rem;
  box-shadow: 2px 0 8px #0000001f;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $white;
  border-radius: 8px;
  ul {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 1.2rem;
      cursor: pointer;
      margin-right: 1rem;
      margin-bottom: 2rem;
      padding: 1rem 1.5rem;
      color: $gray-800;
      transition: all 0.3s;
      font-weight: 500;
      border-radius: 8px;

      &:hover {
        background-color: $gray-200;
      }
      &.active {
        color: $primary;
        background-color: rgba($primary, 10%);
      }
    }
  }
  .logo {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #0063e4;
    margin-bottom: 6rem;
    margin-top: 2rem;
  }
}
.cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0 0;
  font-size: 1.2rem;
  padding: 1rem 6.55rem;
  cursor: pointer;
  background-color: $gray-200;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s;
  &:hover {
    background-color: $gray-200;
  }
  &.active {
    color: $primary;
    background-color: rgba($primary, 10%);
  }
}
