@import "~bootstrap/scss/bootstrap";

$bg-color: #0e0e0e;
$bg-secondary: #202020;
$white: #f1f1f1;
$gray-200: #c5c5c5;
$gray-800: #383838;
$gray-600: rgba(160, 160, 160, 0.452);

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
  &:hover {
    overflow: hidden auto;
  }
}
.card__container {
  height: auto;
  width: 20rem;
  // border: 1px solid $gray-300;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px rgba($black, 10%);
  transition: all 0.3s;
  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0 10px rgba($black, 15%);
  }
  &:hover .card__img--container {
    &::before {
      opacity: 1;
    }
    .card__img--img {
      transform: scale(1);
    }
    .card__img--icons {
      .card__img--icons--fav,
      .card__img--icons--cart {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .card__img--container {
    position: relative;
    height: 16rem;
    width: 100%;
    overflow: hidden;
    &::before {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #0000002c;
      opacity: 0;
      transition: all 0.4s;
    }

    .card__img--img {
      position: absolute;
      height: 16rem;
      width: 100%;
      object-fit: contain;
      object-position: center;
      transform: scale(0.8);
      transition: all 0.4s;
    }
    .card__img--icons {
      position: absolute;
      right: 5%;
      bottom: 5%;
      color: $white;
      z-index: 2;

      .card__img--icons--fav,
      .card__img--icons--cart {
        height: 2.4rem;
        width: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-top: 1rem;
        cursor: pointer;
      }
      .card__img--icons--fav,
      .card__img--icons--cart {
        opacity: 0;
        transition: all 0.4s;
      }
      .card__img--icons--fav {
        background: linear-gradient($red, $pink);
        transform: translateY(2rem);
        transition-delay: 0.1s;
      }
      .card__img--icons--cart {
        background: linear-gradient($blue, $cyan);
        transform: translateY(1rem);
      }
    }
  }

  .card__container--data {
    background-color: $gray-100;
    color: $gray-900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .item__data--name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item__data--price {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      color: $gray-800;
    }
  }
}
